.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: #ffffff;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(174, 132, 255, 0.2);
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 400px;
}

.label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  color: #5e4b8b;
  position: relative;
}

.input {
  padding: 10px 40px 10px 10px;
  border: 1px solid #bca5ff;
  border-radius: 6px;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
}

.fieldBox {
  position: relative;
}

.button {
  padding: 12px;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #a187ff;
}

.error {
  color: #d10068;
  font-size: 0.8em;
  margin-top: 4px;
}
